:root {
  /* Typography */
  --font-sans: "Inter", sans-serif;

  /* Color scheme */
  color-scheme: light dark;

  /* Colors */
  --color-primary-100: #f4ebff;
  --color-primary-600: #155eef;
  --color-primary-700: #004eeb;
  --color-gray-900: #101828;
  --color-gray-600: #475467;
  --color-gray-700: #344054;

  /* Base */
  --color-base-black: #000;
  --color-base-white: #fff;

  /* Shadows */
  --shadow-xs: 0px 1px 2px rgb(16 24 40 / 5%);

  /* Typography */
  --font-display-xs-semibold: 600 24px/32px var(--font-sans);
  --font-text-md-regular: 400 16px/24px var(--font-sans);
}

:root.dark {
  --color-base-black: #fff;
  --color-base-white: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-black: #fff;
    --color-base-white: #000;
  }
}
